@model IEnumerable<TimeTableModel>

<head>
	<link rel="stylesheet" type="text/css" href="~/css/TimeTable.css">
</head>
@{
	ViewData["Title"] = "Timetable";
}
<div class="text-center">
	<h1>@ViewBag.Title</h1>
	@if (!string.IsNullOrEmpty(ViewBag.FailedBookingMessage))
	{
		<div class="alert alert-danger text-center">@ViewBag.FailedBookingMessage</div>
	}
	@if (!string.IsNullOrEmpty(ViewBag.SuccessfulBookingMessage))
	{
		<div class="alert alert-success text-center">@ViewBag.SuccessfulBookingMessage</div>
	}
	
	<p class="intro-paragraph">
		Our academy offers a variety of classes throughout the week to accommodate your schedule and training needs.
		
		Check out our timetable below and start planning your training sessions today! Please Remember to book your classes here before arriving
	</p>
	<table>
		<tr>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
			<th>Sunday</th>
		</tr>
		<tr>
			@foreach (Day day in Enum.GetValues(typeof(Day)))
			{
				<td>
					@foreach (var item in Model.Where(x => x.Day == day))
					{
                    <div class="timetable-cell">
                        <a asp-area="" asp-controller="Schedule" asp-action="CreateBooking" asp-route-id="@item.Id" onclick="return confirmBooking('@item.ClassType.ToString()', '@item.StartTime.ToString("hh:mm tt")')">
                            @item.ClassType.ToString()
                            @item.StartTime.ToString("hh:mm tt")
                            @item.Id.ToString()
                        </a>
                    </div>


					}
				</td>
			}
		</tr>


	</table>
	</br>
	
</div>
<script>
	function confirmBooking(classType, time) {
		var confirmationMessage = "Are you sure you want to make a booking for " + classType + " at " + time + "?";
		return confirm(confirmationMessage);
	}
</script>
