@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model User
@{
	ViewData["Title"] = "Account";
}

<head>
	<link rel="stylesheet" type="text/css" href="~/css/Forms.css" />
	<link rel="stylesheet" type="text/css" href="~/css/UserAccountManagement.css" />
	<script src="~/js/formValidation.js"></script>
</head>

<div class="container">
	<h2 class="text-center">@ViewData["Title"]</h2>
	<div class="info-card">
		<div class="content-block">
			<h3>Basic info </h3>
			<a class="btn btn-primary edit-button" asp-area="" asp-controller="User" asp-action="EditUserBasicInfo">Edit</a>
		</div>
		<div class="info-card-content">
			<p>Name: @Model.FirstName @Model.LastName</p>
			<p>Age: @(DateTime.Now.Year - Model.DateOfBirth.Year)</p>
			<a class="btn btn-primary edit-button" asp-area="" asp-controller="User" asp-action="ForgotPassword">Change Password</a>
		</div>
	</div>

	<div class="info-card">
		<div class="content-block">
			<h3>Contact info </h3>
			<a class="btn btn-primary edit-button" asp-area="" asp-controller="User" asp-action="EditContactInfo">Edit</a>
		</div>
		<div class="info-card-content">
			<p>Email: @Model.Email</p>
			<p>Phone number: @Model.PhoneNumber</p>
		</div>
	</div>

	<div class="info-card">
		<div class="content-block">
			<h3>Membership and Payment NOT IMPLEMENTED YET</h3>
			<button type="button" class="btn btn-primary edit-button">Edit</button>
		</div>
		<div class="info-card-content">
			<p>Membership type: @Model.MembershipType</p>
			<p>Payment method: (not implemented)</p>
		</div>
	</div>

	<div class="info-card">
		<div class="content-block">
			<h3>Current Bookings </h3>
			<button type="button" class="btn btn-primary edit-button">Edit</button>
		</div>
		<div class="info-card-content">
			<p>Booking 1</p>
			<p>Booking 2</p>
		</div>
	</div>
	<div>
		<a class="btn btn-primary btn-danger" asp-area="" asp-controller="User" 
		asp-action="DeleteAccount" onclick="return confirm('Are you sure you want to delete your account?')">Delete Account</a>
	</div>
</div>
